.sb-show-main.sb-main-centered #storybook-root {
  padding: 0;
}

pre.storybook-code {
  margin-top: 12px;
  background: #191919;
  color: #ffffff;
  padding: 12px;
  border-radius: 4px;
  font-family: 'Roboto Mono', 'Arial', sans-serif;
  font-size: 14px;
  white-space: nowrap;
}

div.storybook-container {
  max-width: 450px;
}
