.kit-bottom-sheet-panel {
  .cdk-dialog-container {
    height: unset;
    max-height: 85%;
  }
}

.kit-bottom-sheet-web-panel {
  .kit-bottom-sheet {
    border-radius: 0;
    height: 100%;
  }
}

.kit-bottom-sheet {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--kit-color--background);
  border-radius: var(--kit-radius--base) var(--kit-radius--base) 0 0;
  box-shadow: var(--kit-shadow--base);
  padding-bottom: env(safe-area-inset-bottom);

  &-title {
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    border-radius: var(--kit-radius--base) var(--kit-radius--base) 0 0;
    border-bottom: 1px solid var(--kit-color--divider);
    padding: 14px 20px;

    &:empty {
      display: none;
    }

    span[kit-bottom-sheet-title] {
      flex: 1;
      color: var(--kit-color--primary);
      font-family: var(--kit-typo--font-family);
      font-weight: 700;
      font-size: 15px;
      line-height: 21px;
    }
  }

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
    color: var(--kit-color--primary);
    font-family: var(--kit-typo--font-family);
    font-weight: 400;
    font-size: 15px;
  }

  &-actions {
    display: flex;
    gap: 10px;
    padding: 15px 20px;
    border-top: 1px solid var(--kit-color--divider);

    &:empty {
      display: none;
    }

    > * {
      flex: 1;
    }
  }
}
